h1 {
  text-align: center;
}
h2 {
  color: white;
  background-color: blue;
}
#itword {
  border: 1px solid blue;
  width: 600px;
}
span.word {
  color: red;
}
span.desc {
  color: blue;
}
tr:nth-child(2n) {
  background-color: lightblue;
}
span.word {
  cursor: pointer;
}
